@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

html {
  font-family: "Poppins";
  background: #fff;
}

body,
p {
  margin: 0 0;
  padding: 0;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
  font-weight: 100;
}

a {
  color: green;
  text-decoration: none;
}

main {
  text-align: center;
  flex: 1 0 auto;
}
