.container {
  position: relative;
  background-color: #161623;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.login {
  position: relative;
  width: 350px;
  padding: 30px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  z-index: 10;
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2),
    -10px -10px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  .login {
    width: 90%;
  }
}

.title {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

.loginform {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.logininputBox {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  display: flex;
}

.logininput {
  width: 100%;
  border: none;
  padding: 1rem 2.7rem 1rem 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.logininput::placeholder {
  color: #fff;
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.logininput:focus::placeholder {
  opacity: 0;
}

.logininput:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.2rem;
}

.loginCardbutton {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 30px auto;
  background-color: #161623;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}

.loginCardbutton:hover {
  background-color: #111;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.links a {
  color: #fff;
  font-weight: 100;
  font-size: 0.7rem;
}
